@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  background: url('supersmash.jpg');
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
  margin: 15px;
}

.title h1, .title p {
  position: relative;
  left: 760px;
}

.character-body {
  text-align: center;
}

.character-body p {
  margin: 0;
  font-size: 12px;
}

button, .card {
  cursor: pointer;
}

/* character cards */
.card {
  height: 155px;
  width: 165px;
  display: inline-block;
}

.mario, .donkeykong {
  border: 4px solid blue;
}

.bowser, .wario {
  border: 4px solid red;
}

.card img {
  height: 110px;
  width: 125px;
  margin: 0 auto;
}

/* enemies */
.enemy {
    background: rgba(255, 0, 0, 0.8);
    border-color: red;
}

.defender-char {
  background: rgba(0, 0, 0, 0.9);
  border-color: black;
  color: white;
}

.your-character, .enemies, .defender, .outcome {
  height: 210px;
}